attrs==22.1.0
brotli==1.1.0
ConfigParser==6.0.0
cryptography==3.4.8
Cython==3.0.2
dl==0.1.0
docutils==0.20.1
Flask==1.1.4
Flask_SQLAlchemy==2.5.1
HTMLParser==0.0.2
importlib_metadata==4.6.4
ipython==8.15.0
ipywidgets==8.1.1
Jinja2==3.0.3
jnius==1.1.0
keyring==23.5.0
lockfile==0.12.2
lxml==4.9.3
numpy==1.24.2
ordereddict==1.1
Pillow==9.0.1
Pillow==10.0.1
protobuf==3.12.4
pyOpenSSL==23.2.0
railroad==0.5.0
Sphinx==7.2.6
toml==0.10.2
tornado==6.3.3
xmlrpclib==1.0.1
zipp==1.0.0
